body {
    background-color: #000d20;
    color: #ffffff;
}

h1 {
    text-align: center;
}

p {
    padding: 0 19%;
    text-align: center;
}

#DadRock {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

#FathersDayGiftPass {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}